{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<script src="{% static 'admin/global_assets/js/plugins/forms/validation/validate.min.js' %}"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Passwort ändern</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/Admin" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active"> Passwort ändern</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Passwort ändern</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if error == "exist" %}
            <div class="alert alert-danger border-0 alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Passwort ist falsch! Bitte überprüfe es nocheinmal.</span>
            </div>
            {% elif error == "no" %}
            <div class="alert alert-success border-0 alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Passwort erfolgreich geändert</span>
            </div>
            {% endif %}
            <form id='user_form' action="/Admin/Adminchangepassword" enctype="multipart/form-data" method="post" novalidate="novalidate">
                <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" id='csrf_token'>
                <div class="row">
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-12 control-label">Altes Passwort</label>
                                <div class="col-sm-12">
                                    <input class="form-control" required  name="old_password" type="password" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-12 control-label">Neues Passwort</label>
                                <div class="col-sm-12">
                                    <input class="form-control" required id="password" name="password" type="password" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-12 control-label">Bestätigen Sie Ihr Passwort</label>
                                <div class="col-sm-12">
                                    <input class="form-control" required  type="password" name="confirm_password" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row float-right">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit">Speichern</button>
                        <a class="btn btn-warning" href="/Admin/Adminchangepassword">Zurücksetzen</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/adminChangePassword.js' %}"></script>
{% endblock %}