{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>TYC Admin</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/global_assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
    <link href="{% static 'admin/css/theme.css' %}" rel="stylesheet" type="text/css">
	<!-- Core JS files -->
	<script src="{% static 'admin/global_assets/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'admin/global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/notifications/noty.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/notifications/sweet_alert.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/loaders/progressbar.min.js' %}"></script>

	<script src="{% static 'admin/assets/js/app.js' %}"></script>
	<!-- /theme JS files -->

</head>
<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="/" class="d-inline-block">
				<img src="{% static 'admin/global_assets/images/logo_light.png' %}" alt="">
			</a>
		</div>
		{% if url != "login" %}
		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>

			<span class="badge bg-success ml-md-3 mr-md-auto visible-hide">Online</span>

			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
						<i class="icon-bubbles4"></i>
						<span class="d-md-none ml-2">Messages</span>
						<span class="badge badge-pill bg-warning-400 ml-auto ml-md-0" id="unread_messages"></span>
					</a>
					
					<div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
						<div class="dropdown-content-header">
							<span class="font-weight-semibold">Messages</span>
							<a href="/Messagebox" class="text-default"><i class="icon-compose"></i></a>
						</div>

						<div class="dropdown-content-body dropdown-scrollable">
							<ul class="media-list" id="message_list">
								
							</ul>
						</div>

						<div class="dropdown-content-footer justify-content-center p-0">
							<a href="/Messagebox" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<span>Admin</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="/Admin/Adminchangepassword" class="dropdown-item"><i class="icon-lock2"></i> Passwort &#228;ndern</a>
						<a href="/Admin/Logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script>
		function makeString(str) {
			if(str.length > 45){
				return str.substring(0, 45) + " ...";
			}else return str;
		}
		$(document).ready(function(){
			$.ajax({
				url: host_url + '/Messagelist',
				type: 'get',
				success: function(data) {
					var html="";
					for(var i=0;i<data.message_list.length;i++){
						var message = makeString(data.message_list[i].message);
						html += "<li class='media'><div class='media-body'><div class='media-title'><a href='#'><span class='font-weight-semibold'>"+ data.message_list[i].name +"</span><span class='text-muted float-right font-size-sm'>"+ moment(data.message_list[i].datetime).format('MM/DD/YYYY hh:mm:ss') +"</span></a></div><span class='text-muted'>"+ message +"</span></div></li>";
					}
					$('#message_list').html(html);
					if(data.unread_count==0){$('#unread_messages').hide();}
					else {
						$('#unread_messages').show();
						$('#unread_messages').html(data.unread_count);
					}
				}
			});
		});
	</script>
	<!-- /main navbar -->