{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<link href="{% static 'admin/css/manageSecurityCompany.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRiaPjThG3eZJcdetH5veIK6nCrmjIIJM&amp;sensor=false"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Sicherheitsfirma Details</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="/Admin/ManageSecurityCompany/Edit/{{ company_info.id }}" class="btn bg-green-300 mr-2"><i class="icon-pencil7 mr-2"></i>  Bearbeiten</a>
                <a href="/Admin/ManageSecurityCompany" class="btn bg-indigo-300"><i class="icon-arrow-left8 mr-2"></i> Zurück zur Liste</a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/Admin" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Security Company</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class='row'>
        <div class='col-lg-6'>
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Basisdaten</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
                </div>
                <div class='card-body'>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 control-label"> Name</label>
                            <div class="col-sm-6">
                                {{ company_info.name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 control-label"> Telefonnummer</label>
                            <div class="col-sm-6">
                                {{ company_info.contactphone }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 control-label"> E-Mail</label>
                            <div class="col-sm-6">
                                {{ company_info.email }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 control-label"> Notfallnummer</label>
                            <div class="col-sm-6">
                                {{ company_info.emergency }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 control-label"> Adresse</label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <label class="col-sm-12 control-label">Straße</label>
                                            <div class="col-sm-12">
                                                {{ company_info.address_street }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-12 control-label">Postleitzahl</label>
                                            <div class="col-sm-12">
                                                {{ company_info.address_postal }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-12 control-label">Ort</label>
                                            <div class="col-sm-12">
                                                {{ company_info.address_city }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-12 control-label">Bundesland</label>
                                            <div class="col-sm-12">
                                                {{ company_info.address_state }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-12 control-label">Land</label>
                                            <div class="col-sm-12">
                                                {{ company_info.address_country }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-12 control-label">Breitengrad</label>
                                            <div class="col-sm-12" id='latitude'>
                                                {{ company_info.address_latitude }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-12 control-label">Längengrad</label>
                                            <div class="col-sm-12" id="longitude">
                                                {{ company_info.address_longitude }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 control-label"> Besitzer</label>
                            <div class="col-sm-6">
                                {{ user_info.firstname }} {{ user_info.lastname }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Company Map</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
                </div>
                <div class='card-body'>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/manageSecurityCompanyDetail.js' %}"></script>
{% endblock %}