{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<!-- Page header -->
<link href="{% static 'admin/css/manageMerchant.css' %}" rel="stylesheet" type="text/css">
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Einzelhändler verwalten</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="/Admin/ManageMerchant/Create" class="btn bg-indigo-300"><i class="icon-plus-circle2 mr-2"></i>   Händler hinzufügen   </a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active"> Alle Händler</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    <div class="card card-collapsed">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"> Händlersuche</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item rotate-180" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body" style="display: none;">
            <div class="row">
                <div class="col-sm-8">
                    <label class="control-label" for="customer">Postleitzahl</label>
                    <br>
                    <input id="postal" type="text" class="form-control" placeholder="Ort, Postleitzahl">
                    <select class="form-control" id="selectradious" name="selectradious">
                        <option value="20">&lt; 20 km</option>
                        <option value="50">&lt; 50 km</option>
                        <option value="100">&lt; 100 km</option>
                    </select>
                    <i><b>Note:</b> <span> Um bessere Suchergebnisse zu erzielen suchen Sie mit Postleitzahl und Stadt <br> e.g. Ort, Postleitzahl</span></i>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="date_modified">&nbsp;</label>
                        <div class="input-group date text-right">
                            <div class="btn-group-sm">
                                <button class="btn btn-sm btn-primary form-control" onclick="FunsearchDaterecords()">Suche</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Einzelhändler Liste</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Adresse</th>
                        <th>ist Aktive</th>
                        <th>Website</th>
                        <th>Telefonnummer</th>
                        <th>Fax</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id='merchantList'>
                    {% for merchant in merchant_list %}
                    <tr id="tr_{{ merchant.id }}">
                        <td>{{ merchant.name }}</td>
                        <td>{{ merchant.address_city }}</td>
                        <td >{% if merchant.isactive == 1 %}<i class="icon-checkmark4 text-success"></i>{% else %}<i class="icon-blocked text-danger"></i>{% endif %}</td>
                        <td>{{ merchant.website }}</td>
                        <td>{{ merchant.phone }}</td>
                        <td>{{ merchant.fax }}</td>
                        <td>
                            <div class="list-icons">
                                <div class="list-icons-item dropdown">
                                    <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        
                                        <a href="/Admin/ManageMerchant/Edit/{{ merchant.id }}" class="dropdown-item"><i class="icon-pencil7"></i> Bearbeiten</a>
                                        <a href="/Admin/ManageMerchant/Detail/{{ merchant.id }}" class="dropdown-item"><i class="icon-search4"></i> Detail</a>
                                        {% if merchant.isactive == 1 %}
                                        <a href="" class="dropdown-item btn-lock" merchant_id="{{ merchant.id }}" value='1'><i class="icon-lock2"></i>  Deaktivieren</a>
                                        {% else %}
                                        <a href="" class="dropdown-item btn-lock" merchant_id="{{ merchant.id }}" value='0'><i class="icon-unlocked2"></i>  Aktivieren</a>
                                        {% endif %}
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item text-danger merchant-delete" merchant_id="{{ merchant.id }}"><i class="icon-trash"></i> Löschen</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <input type='hidden' class="latitude" value='{{ merchant.address_latitude }}'>
                        <input type='hidden' class="longitude" value='{{ merchant.address_longitude }}'>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/manageMerchant.js' %}"></script>
{% endblock %}