{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Manage Promotion Credit</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Promotion Credit</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    <div class='row'>
        <div class='col-lg-7'>
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Abonnementliste</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a href="/Admin/ManagePromotionCredit/Create" class="btn bg-indigo-300 mr-3"><i class="icon-plus-circle2 mr-2"></i>   Add Subscription   </a>
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Land</th>
                                <th>Ort</th>
                                <th>E-Mail Adresse</th>
                                <th>Telefonnummer</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id='subscriptionList'>
                            {% for subscription in subscription_list %}
                            <tr id="tr_subscription_{{ subscription.id }}">
                                <td>{{ subscription.firstname }} {{ subscription.surname }}</td>
                                <td>{{ subscription.country }} </td>
                                <td>{{ subscription.city }} </td>
                                <td>{{ subscription.regemail }} </td>
                                <td>{{ subscription.regphoneno }} </td>
                                <td>
                                    <div class="list-icons">
                                        <div class="list-icons-item dropdown">
                                            <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="/Admin/ManagePromotionCredit/Edit/{{ subscription.id }}" class="dropdown-item"><i class="icon-pencil7"></i> Add Promotion Credit</a>
                                               
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item text-danger subscription-delete" subscription_id="{{ subscription.id }}"><i class="icon-trash"></i> Löschen</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class='col-lg-5'>
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Promotion-Guthabenliste</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Credit Amount</th>
                                <th>Debit Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id='promotionList'>
                            {% for promotion in promotion_list %}
                            <tr id="tr_promotion_{{ promotion.id }}">
                                <td>{{ promotion.firstname }} {{ promotion.surname }}</td>
                                <td>{{ promotion.credit }} </td>
                                <td>{{ promotion.debit }} </td>
                                <td>
                                    <div class="list-icons">
                                        <div class="list-icons-item dropdown">
                                            <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item text-danger promotion-delete" promotion_id="{{ promotion.id }}"><i class="icon-trash"></i> Löschen</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/managePromotionCredit.js' %}"></script>
{% endblock %}