{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<link href="{% static 'admin/css/manageCampingPlace.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'admin/global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Campingplatz erstellen</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="/Admin/ManageCampingPlace/Create" class="btn bg-indigo-300"><i class="icon-plus-circle2 mr-2"></i> Campingplatz erstellen</a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/Admin" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active"> Campingplatz Informationen</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    <div class="card card-collapsed">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"> Campingplätze search</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item rotate-180" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body" style="display: none;">
            <div class="row">
                <div class="col-sm-8">
                    <label class="control-label" for="customer">Postleitzahl</label>
                    <br>
                    <input id="postal" type="text" class="form-control" placeholder="Ort, Postleitzahl">
                    <select class="form-control" id="selectradious" name="selectradious">
                        <option value="20">&lt; 20 km</option>
                        <option value="50">&lt; 50 km</option>
                        <option value="100">&lt; 100 km</option>
                    </select>
                    <i><b>Note:</b> <span> Um bessere Suchergebnisse zu erzielen suchen Sie mit Postleitzahl und Stadt <br> e.g. Ort, Postleitzahl</span></i>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="date_modified">&nbsp;</label>
                        <div class="input-group date text-right">
                            <div class="btn-group-sm">
                                <button class="btn btn-sm btn-primary form-control" onclick="FunsearchDaterecords()">Suche</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Liste der Campingplätze</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <table class="table datatable-responsive">
            <thead>
                <tr> 
                    <th>Name</th>
                    <th>Ort</th>
                    <th>Straße</th>
                    <th>Besitzer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="campingPlaceList">
                {% for campingplace in campingplace_list %}
                <tr id='tr_{{ campingplace.ID }}'>
                    <td>{{ campingplace.Name }}</td>
                    <td>{{ campingplace.address_city }}</td>
                    <td>{{ campingplace.address_road }}</td>
                    <td>{{ campingplace.Firstname }} {{ campingplace.Lastname }}</td>
                    <td class='text-right'>
                        <a href="/Admin/ManageCampingPlaces/Edit/{{ campingplace.ID }}" class="btn bg-green-300 btn-sm"><i class="icon-pencil7 mr-2"></i> Bearbeiten</a>
                        <a href="/Admin/ManageCampingPlaces/Detail/{{ campingplace.ID }}" class="btn bg-indigo-300 btn-sm"><i class="icon-search4 mr-2"></i> Detail</a>
                        <a href="#" campingplace_id="{{ campingplace.ID }}" class="btn bg-danger-300 btn-sm campingplace-delete"><i class="icon-trash mr-2"></i> Löschen</a>
                    </td>
                    <input type='hidden' class="latitude" value='{{ campingplace.address_degreeoflatitude }}'>
                    <input type='hidden' class="longitude" value='{{ campingplace.address_degreeoflongitude }}'>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/manageCampingPlace.js' %}"></script>
{% endblock %}