{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Manage Forms</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <button  class="btn bg-indigo-300" data-toggle="modal" data-target="#modal_form"><i class="icon-plus-circle2 mr-2"></i>   Add Form   </button>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active"> All Forms</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Form Liste</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Form Titel</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id='form_list'>
                    {% for form in form_list %}
                    <tr id="tr_{{ form.id }}">
                        <td>{{ form.title }}</td>
                        <td>{{ form.description }}</td>
                        <td class="text-right">
                            <a href="{% static 'upload/' %}{{ form.filepath }}" alt="View" target="_blank" class="btn btn-primary btn-icon rounded-round"><i class="icon-eye"></i></a>
                            <button type="button" class="btn btn-danger btn-icon rounded-round btn-remove-form ml-2" formId="{{ form.id }}" alt="Delete"><i class="icon-trash"></i></button>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /content area -->
<div id="modal_form" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add form</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form method="post" enctype="multipart/form-data" id="upload_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Title</label>
                                <input type="text" name="title" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Description</label>
                                <input type="text" name="description" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Form File</label>
                                <input accept=".pdf" class="form-control-uniform" id="upload_form" name="form_file" type="file" value="">
                                <br>
                                <span>[.pdf]</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-primary">Submit form</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/manageForms.js' %}"></script>
{% endblock %}