{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<link href="{% static 'admin/css/manageUser.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'admin/global_assets/js/plugins/forms/validation/validate.min.js' %}"></script>
<script src="{% static 'admin/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
<script src="{% static 'admin/global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Passwort ändern von {{ user_info.firstname }} {{ user_info.lastname }}</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="/Admin/ManageUser" class="btn bg-indigo-300"><i class="icon-arrow-left8 mr-2"></i>  Zurück zur Liste</a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/Admin" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Passwort ändern</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Passwort ändern von {{ user_info.firstname }} {{ user_info.lastname }}</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id='user_form' action="/Admin/ManageUser/ChangePassword/{{ user_info.userid }}" enctype="multipart/form-data" method="post" novalidate="novalidate">
                <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" id='csrf_token'>
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-12 control-label">Passwort</label>
                                <div class="col-sm-12">
                                    <input class="form-control" required id="password" name="password" type="password" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-12 control-label">Bestätigen Sie Ihr Passwort</label>
                                <div class="col-sm-12">
                                    <input class="form-control" required  type="password" name="confirm_password" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row float-right">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit">Speichern</button>
                        <a class="btn btn-warning" href="/Admin/ManageUser">Abrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/manageUserChangePassword.js' %}"></script>
{% endblock %}

