{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<script src="{% static 'admin/global_assets/js/plugins/editors/summernote/summernote.min.js' %}"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Terms Of Service</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/Admin" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active"> Terms Of Service</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Terms Of Service</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class='card-body'>
            <form action="/Admin/TermsOfService" enctype="multipart/form-data" method="post" novalidate="novalidate">
                <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" id='csrf_token'>
                <input type='hidden' name='id' value="{{ header_content.id }}">
                
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 control-label">Terms Of Service</label>
                                <div class="col-sm-10">
                                    <textarea class="summernote" name="termsofservice">{{ header_content.termsofservice | safe }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row float-right">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit">Speichern </button>
                        <a class="btn btn-warning" href="/Admin/TermsOfService">Abrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/manageCustomerServicedata.js' %}"></script>
{% endblock %}