{% extends 'admin/base.html' %}
{% load static %}  
{% block content %}
<link href="{% static 'admin/css/manageVehicles.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'admin/global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script src="{% static 'admin/global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> Erstellen Sie ein Fahrzeug</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Tracker Orders</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
    
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Fahrzeugliste</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Kundendaten</th>
                        <th>Shipped To</th>
                        <th>Tracker Info</th>
                        <th>Rechnungsdatum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_list %}
                    {% if item.userid is not None %}
                    <tr id="tr_{{ vehicle.id }}">
                        <td>
                            <i class="fas fa-user mr-1"></i>{{ item.firstname }} {{ item.lastname }}<br>
                            <i class="fas fa-envelope mr-1"></i>{{ item.email }}
                        </td>
                        <td>
                            {% if item.country is not None %}<strong>Country: </strong> {{ item.country }}<br>{% endif %}
                            {% if item.state is not None %}<strong>State: </strong> {{ item.state }}<br>{% endif %}
                            {% if item.road is not None %}<strong>Street: </strong> {{ item.road }}<br>{% endif %}
                            {% if item.place is not None %}<strong>Place: </strong> {{ item.place }}<br>{% endif %}
                            {% if item.Housenumber is not None %}<strong>Housenumber: </strong> {{ item.Housenumber }}<br>{% endif %}
                            {% if item.Postcode is not None %}<strong>Zip Code: </strong> {{ item.Postcode }}{% endif %}
                        </td>
                        <td>
                            {{ item.Trackername }}<br>
                            <strong>Preis:</strong>{{ item.Subtotal }} €<br>
                            <strong>Einmalige Aktivierungsgebuhr:</strong>{{ item.taxprice }} €<br>
                        </td>
                        <td>
                            {{ item.OrderDate }}
                        </td>
                        
                        <!-- <td>
                            <div class="form-check form-check-switchery">
                                <label class="form-check-label">
                                    {% if vehicle.Ispoweroffactive == 1 %}
                                    <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                                    {% else %}
                                    <input type="checkbox" class="form-check-input-switchery" data-fouc>
                                    {% endif %}
                                </label>
                            </div>
                        </td> -->
                        <td>
                            <div class="list-icons">
                                <div class="list-icons-item dropdown">
                                    <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="/Admin/ManageVehicles/Detail/{{ item.id }}" class="dropdown-item"><i class="icon-search4"></i> Detail</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item text-danger vehicle-delete" vehicle_id="{{ item.id }}"><i class="icon-trash"></i> Löschen</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /content area -->
{% endblock %}

{% block script %}
<script src="{% static 'admin/js/manageVehicles.js' %}"></script>
{% endblock %}