{% extends 'base.html' %}
{% load static %}  
{% load mathfilters %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="container mt-5  mb-5">
    <section class="wrapper sec-space shopping-cart">
        <div class="container" id="bindallcartdata">
            <h2 class="section-title"> Warenkorb </h2>
            <form action="/Checkout" enctype="multipart/form-data" method="post">
                <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" id='csrf_token'>
                <div class="cart-table">
                    <table class="product-table">
                        <thead class="font-2">
                            <tr>
                                <th></th>
                                <th>Produkt</th>
                                <th>Preis</th>
                                <th>Menge</th>
                                <th>Summe</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tracker in tracker_list %}
                                {% for cart in cart_list %}
                                    {% if cart.product_id == tracker.id %}
                                    <tr product_id='{{ tracker.id }}' category_id="{{ tracker.category_id }}">
                                        <td class="image">
                                            {% if tracker.img is not None %}
                                            <div class="white-bg">
                                                <a class="media-link" href="/Tracker/Detail/{{ tracker.id }}">
                                                    <img src="{% static 'upload/' %}{{ tracker.img }}" class="d-block">
                                                </a>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td class="description">
                                            <a href="/Tracker/Detail/{{ tracker.id }}">
                                                {{ tracker.trackername }} 
                                            </a>
                                            <ul>
                                                <li>
                                                    <i class="arrow_carrot-right"></i>
                                                    <span>Kategorie:</span> <span class="gray-color"> {{ tracker.categoryname }} </span>
                                                </li>
                                                <li>
                                                    <i class="arrow_carrot-right"></i>
                                                    <span>Artikel Nummer:</span> <span class="gray-color"> {{ tracker.articlenumber }} </span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="price product-price" value='{{ tracker.price }}'>
                                            {{ tracker.price }} €
                                        </td>
                                        <td class="quantity">
                                            <div class="prod-btns">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-default btn-number" data-type="minus" data-field="" >
                                                            <span class="fa fa-minus"></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" value="{{ cart.qty }}" class="form-control input-number qty"  readonly="">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-default btn-number" data-type="plus" data-field="" >
                                                            <span class="fa fa-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                                <span id="spnqty_32" style="display:none"> Maximale Menge ist:1 </span>
                                            </div>
                                        </td>
                                        <td class="price total-price" value="{{ tracker.price|mul:cart.qty }}">
                                            {{ tracker.price|mul:cart.qty }} €
                                        </td>
                                        <td class="remove-edit">
                                            <a href="#" class="fa fa-trash " ></a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-7 col-lg-8 col-sm-6">
                    </div>
                    <div class="col-md-5 col-lg-4 col-sm-8 float-right">
                        <div class="chk-total text-right">
                            <ul class="font-2">
                                <li class="title-2"> Zwischensumme<span id='total_price'>  </span> </li>
                                <li class="title-2">MwSt <span id='total_tax'> </span> </li>
                                <li class="section-title pt-20"> <b> Gesamtsumme  <span class="red-color" id='checkout_price'> </span> </b> </li>
                                <li class="ptb-10"> <hr class="divider"> </li>
                                <li>
                                    <a class="btn btn-warning" type="button" href='/Checkout' id='btn_checkout'>Gehen Sie zur Kasse</a>
                                    <a class="btn btn-warning" id='btn_back' href="/Shop/Index/{{ tracker_list.0.category_id }}">Weiter einkaufen</a>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="text-center"></div>
                    </div>
                </div>
            </form>
            <div id="preloader" style="display: none;"><div id="status" style="display: none;"></div></div>
            
        </div> 
    </section>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}