{% extends 'base.html' %}
{% load static %}  
{% load mathfilters %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<div class="container mt-5  mb-5">
    <div class="row">
        <div id="checkout-wizard" class="ck-wizard clearfix">
            <div class="steps clearfix">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="col-xs-2 col-sm-3 col-md-5 col-lg-4 current ">
                        <a class="active">
                            <span class="number">1.</span> Rechnungs- und Lieferadresse
                        </a>
                    </li>
                    <li role="presentation" class="col-xs-2 col-sm-3 col-md-5 col-lg-4">

                            <a>
                                <span class="number">2.</span> Versand und Zahlung
                            </a>
                       
                    </li>
                    <li role="presentation" class="col-xs-2 col-sm-3 col-md-5 col-lg-4">
                        <a>
                            <span class="number">3.</span> Zusammenfassung
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content  clearfix">
                <div id="register-customer" class="row tab-pane active" role="tabpanel">
                    <div id="customer" class="col-xs-12 col-md-12 col-lg-12">
                    <form action="/Checkout/Checkoutaddress" method="post" novalidate="novalidate" id="checkout_form">
                        <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" id='csrf_token'>
                        <div class="panel-wrap">
                            <fieldset>
                                <h4>Adresse</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group ">
                                            <label for="salutation" class="control-label">Anrede</label>
                                            <select class="form-control" required id="Billing_salutation" name="Billing_salutation">
                                                <option value="">Select salutation</option>
                                                {% for salutation in salutation_list %}
                                                <option value="{{ salutation.id }}" {% if billing_address.salutation == salutation.id %}selected{% endif %}>{{ salutation.salutation }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group ">
                                            <label for="firstName" class="control-label">Vorname</label>
                                            <input class="form-control" required  id="Billing_Firstname" name="Billing_Firstname" type="text" value="{{ billing_address.firstname }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group ">
                                            <label for="lastName" class="control-label">Familienname</label>
                                            <input class="form-control" required id="Billing_Lastname" name="Billing_Lastname" type="text" value="{{ billing_address.lastname }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label for="firm" class="control-label">Unternehmen</label>
                                            <input class="form-control" required id="Billing_Company" name="Billing_Company" type="text" value="{{ billing_address.company }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label for="firmext" class="control-label">Firma hinzufügen</label>
                                            <input class="form-control" required id="Billing_Company_Addition" name="Billing_Company_Addition" type="text" value="{{ billing_address.company_addition }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label" for="street">Straße</label>
                                            <input class="form-control" required id="Billing_Road" name="Billing_Road" type="text" value="{{ billing_address.road }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label" for="streetnumber">Hausnummer</label>
                                            <input class="form-control" required id="Billing_HouseNumber" name="Billing_HouseNumber" type="text" value="{{ billing_address.housenumber }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group ">
                                            <label class="control-label" for="street2">Zusätzliche Adresse</label>
                                            <input class="form-control" required id="Billing_Additionaladdress" name="Billing_Additionaladdress" type="text" value="{{ billing_address.additionaladdress }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label" for="country">Land</label>
                                            <input class="form-control" required id="Billing_Country" name="Billing_Country" type="text" value="{{ billing_address.country }}">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label" for="state">Bundesland</label>
                                            <input class="form-control" required id="Billing_State" name="Billing_State" type="text" value="{{ billing_address.state }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label" for="postcode">Postleitzahl</label>
                                            <input class="form-control" required id="Billing_Postcode" name="Billing_Postcode" type="text" value="{{ billing_address.postcode }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label" for="city">place</label>
                                            <input class="form-control"  required id="Billing_place" name="Billing_place" type="text" value="{{ billing_address.place }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label" for="ustid">VAT number.</label>
                                            <input class="form-control" required id="Billing_VATnumber" name="Billing_VATnumber" type="text" value="{{ billing_address.vatnumber }}">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h4>
                                    Kontaktdaten
                                </h4>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label" for="email">E-Mail</label>
                                            <input class="form-control" required id="Billing_ShopEmail" name="Billing_ShopEmail" type="text" value="{{ billing_address.email }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label" for="tel">Telefon</label>
                                            <input class="form-control" required id="Billing_ShopPhoneno" name="Billing_ShopPhoneno" type="text" value="{{ billing_address.phoneno }}">
                                        </div>
                                    </div>
                                </div>
                                <input data-val="true" data-val-required="The Iscreatenewcustomerornot field is required." id="Iscreatenewcustomerornot" name="Iscreatenewcustomerornot" type="hidden" value="False">
                            </fieldset>
                            <hr>
                            <div class="form-group checkbox control-toggle">
                                <input type="hidden" name="shipping_address" value="1">
                                <label for="Issameshipaddress" class="btn-block"> 
                                    <input  data-val-required="The Issameshipaddress field is required." id="Issameshipaddress"  onchange="Onchangedeliverycheck()" type="checkbox" >
                                    <input name="Issameshipaddress" id='same_address_flag' type="hidden" value="false">

                                    Lieferadresse entspricht Rechnungsadresse 
                                </label>
                            </div>

                            <div id="select_shipping_address" class="collapse-non-validate" aria-expanded="true" style="display: block;">
                                <fieldset>
                                    <legend>Neue Lieferadresse anlegen</legend>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label for="register-shipping_address-salutation" class="control-label">Anrede</label>
                                                <select class="form-control" required id="Shiiping_salutation" name="Shiiping_salutation">
                                                    <option value="">Select salutation</option>
                                                    {% for salutation in salutation_list %}
                                                    <option value="{{ salutation.id }}" {% if shipping_address.salutation == salutation.id %}selected{% endif %}>{{ salutation.salutation }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Vorname</label>
                                                <input class="form-control" required id="Shiiping_Firstname" name="Shiiping_Firstname" type="text" value="{{ shipping_address.firstname }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Familienname</label>
                                                <input class="form-control" required id="Shiiping_Lastname" name="Shiiping_Lastname" type="text" value="{{ shipping_address.lastname }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Unternehmen</label>
                                                <input class="form-control" required id="Shiiping_Company" name="Shiiping_Company" type="text" value="{{ shipping_address.company }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Firma hinzufügen</label>
                                                <input class="form-control" required id="Shiiping_Company_Addition" name="Shiiping_Company_Addition" type="text" value="{{ shipping_address.company_addition }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label" for="register-shipping_address-street">Straße</label>
                                                <input class="form-control" required id="Shiiping_Road" name="Shiiping_Road" type="text" value="{{ shipping_address.road }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Hausnummer</label>
                                                <input class="form-control" required id="Shiiping_HouseNumber" name="Shiiping_HouseNumber" type="text" value="{{ shipping_address.housenumber }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="form-group ">
                                                <label class="control-label" for="register-shipping_address-street2">Zusätzliche Adresse</label>
                                                <input class="form-control" required id="Shiiping_Additionaladdress" name="Shiiping_Additionaladdress" type="text" value="{{ shipping_address.additionaladdress }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Land</label>
                                                <input class="form-control" required id="Shiiping_Country" name="Shiiping_Country" type="text" value="{{ shipping_address.country }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label" for="register-shipping_address-state">Bundesland</label>
                                                <input class="form-control" required id="Shiiping_State" name="Shiiping_State" type="text" value="{{ shipping_address.state }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label" for="register-shipping_address-postcode">Postleitzahl</label>
                                                <input class="form-control" required id="Shiiping_Postcode" name="Shiiping_Postcode" type="text" value="{{ shipping_address.postcode }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label" for="register-shipping_address-city">place</label>
                                                <input class="form-control" required id="Shiiping_place" name="Shiiping_place" type="text" value="{{ shipping_address.place }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label" for="register-shipping_address-postcode">E-Mail</label>
                                                <input class="form-control" required id="Shipping_ShopEmail" name="Shipping_ShopEmail" type="text" value="{{ shipping_address.email }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label" for="register-shipping_address-city">Telefon</label>
                                                <input class="form-control" required id="Shipping_ShopPhoneno" name="Shipping_ShopPhoneno" type="text" value="{{ shipping_address.phoneno }}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha" required data-sitekey="6LcgWK0eAAAAAGYb4J7cby-MHpf0u4Ecf7nfYC5n"></div>
                        </div>
                        <div class="text-right">
                            <br>
                            <button type="submit" class="btn btn-warning next-step">weiter</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

<script src="{% static 'admin/global_assets/js/plugins/forms/validation/validate.min.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}