{% extends 'base.html' %}
{% load static %}  
{% block content %}
<link rel="stylesheet" href="{% static 'css/stocklist.css' %}">
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRiaPjThG3eZJcdetH5veIK6nCrmjIIJM&amp;sensor=false"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK8dwqNz7TAhgJqRo_dY_CoDsP8sxKpwo&amp;sensor=false"></script>
<!-- <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/9/common.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/9/util.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/9/map.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/9/marker.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/9/onion.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/9/infowindow.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/46/9/controls.js"></script> -->
<div class="container mt-5  mb-5">
    <div class="col-sm-12 text-center">
        <h3 class="page-heading">Händler</h3><div class="horizontal-break"></div>
    </div>
    <div class="row" id="bindallmapdata">
        <div class="col-sm-2 mt-2">
            &nbsp;
        </div>
        <div class="col-sm-4 mt-2">
            <input type="text" class="form-control" placeholder="Ort" id="txtzipcode">
            <span>Um bessere Suchergebnisse zu erzielen suchen Sie mit Postleitzahl und Stadt</span>
        </div>
        <div class="col-sm-3 mt-2">
            <select class="form-control" id="selectradious" name="selectradious">
                <option value="10">&lt; 10 km</option>
                <option value="20">&lt; 20 km</option>
                <option selected="selected" value="50">&lt; 50 km</option>
                <option value="100">&lt; 100 km</option>
            </select>
        </div>
        <div class="col-sm-3 mt-2">
            <button type="button" class="btn btn-warning" onclick="Bindzipcodedata()">Suche</button>
        </div>
        
        <div class="col-sm-12 pt-5">
            <div class="row">
                <div class="col-md-7 wide" id='map_div'>
                    <div id="mapContainer">
                        <div id="dvMap" style="height: 600px; max-width: 100%; margin: 0 auto;"></div>
                    </div>
                </div>
                <div class='col-md-5 hide' id="detail_div">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title"></h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                </div>
                            </div>
                        </div>
                        <div class='card-body'>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-sm-12">
            <br>
            {{ header_content.dealercontent | safe }}
        </div>

        <div id="preloader" style="display: none;"><div id="status" style="display: none;"></div></div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/stocklist.js' %}"></script>
{% endblock %}