{% extends 'base.html' %}
{% load static %}  
{% block content %}
<link rel="stylesheet" href="{% static 'css/myaccount.css' %}">
<div class="container mt-5 mb-5">
    <div class="col-sm-12 text-center">
        <h3 class="page-heading">Passwort ändern</h3>
        <div class="horizontal-break"></div>
    </div>
    <div class="row">
        <div class="myaccount-wizard">
            <div class='row'>
                <div class="col-sm-3">
                    <ul class="account-menu">
                        <li>
                            <a href="/Myaccount">Übersicht</a>
                        </li>
                        <li>
                            <a href="/Usersubscription/detail">Abonnement Rechnungen</a>
                        </li>
                        <li>
                            <a href="/Usersubscription">Abonnement</a>
                        </li>
                        <li>
                            <a href="/Uservehicles">Meine Fahrzeuge</a>
                        </li>
                        <li>
                            <a href="/Userorders">Bestellungen</a>
                        </li>
                        <li>
                            <a href="/Userforms">Formulare</a>
                        </li>
                        <li class='active'>
                            <a href="/Userchangepassword">Passwort ändern</a>
                        </li>
                        <li>
                            <a href="/Admin/Logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {% if error == "exist" %}
                    <div class="alert alert-danger border-0 alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                        <span class="font-weight-semibold">Passwort ist falsch! Bitte überprüfe es nocheinmal.</span>
                    </div>
                    {% elif error == "no" %}
                    <div class="alert alert-success border-0 alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                        <span class="font-weight-semibold">Passwort erfolgreich geändert</span>
                    </div>
                    {% endif %}
                    <form id='user_form' action="/Userchangepassword" enctype="multipart/form-data" method="post" novalidate="novalidate">
                        <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}" id='csrf_token'>
                        <div class="row">
                            <div class='col-sm-4'>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-12 control-label">Altes Passwort</label>
                                        <div class="col-sm-12">
                                            <input class="form-control" required  name="old_password" type="password" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-12 control-label">Neues Passwort</label>
                                        <div class="col-sm-12">
                                            <input class="form-control" required id="password" name="password" type="password" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-12 control-label">Bestätigen Sie Ihr Passwort</label>
                                        <div class="col-sm-12">
                                            <input class="form-control" required  type="password" name="confirm_password" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row float-right">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" type="submit">Speichern</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'admin/global_assets/js/plugins/forms/validation/validate.min.js' %}"></script>
    <script src="{% static 'js/myaccount.js' %}"></script>
    <script src="{% static 'js/userchangepassword.js' %}"></script>
{% endblock %}