.navbar {
    position:  relative !important;
    background-color: #30353b!important;
}
.myaccount-wizard {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 20px -4px rgb(0 0 0 / 30%);
    padding: 1.5rem 0.75rem;
}
.account-menu {
    list-style: none;
    padding: 0;
}
.account-menu li {
    padding: 0.6rem 1.5rem;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}
.account-menu li.active {
    background-color: #F6AB36;
    border: 1px solid #F6AB36;
}
.account-menu li.active:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-left: 10px solid #F6AB36;
    left: auto;
    right: -10px;
}
.account-menu li.active a{
    color: #f7f7f7;
}
.account-menu li a {
    color: #888;
}
address .title {
    margin-top:0.75rem;
    font-weight: bold;
    color: #f6ab36;
}
address strong {
    margin-right: 8px;
}
a {
    color: #888;
}
a:hover {
    color: #0088cc;
}
a.edit, a.edit:visited {
    color: #f6ab36;
}
.modal-dialog {
    max-width:70% !important;
}
.table tbody {
    font-size:0.9rem;
}
.table td, .table th {
    padding: 0.75rem !important;
}
.columns {
    float: left;
    width: 20%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #111;
    color: white;
    font-size: 20px;
    line-height: 1;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 15px;
}

.subscription-table .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}